fastapi
uvicorn
pdfplumber
pandas
xlsxwriter
python-multipart
apscheduler
pdf2image
paddlepaddle>=2.6.0
paddleocr>=2.7.0
transformers
torch
numpy
Pillow
opencv-python-headless
pytesseract
